.post-body {
  .post-button {
    a.btn {
      background-color #626262
      border-color #626262
      &:hover {
        border-color #626262
        background-color white
      }
    }
  }
}

@media(min-width: 1600px)
  .main-inner {
    width 1100px
  }